@charset "utf-8";
body {
    font-family:sans-serif;
    line-height:1.5;
    background-color: rgb(255, 228, 192);
}
header{
    background-color: rgb(247, 172, 110);
}
#head_container{
    display: grid;
    grid-template-columns: 80px 200px 1fr;
}
#head_hondana{
    grid-column: 2 / 3;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: xx-large;
    vertical-align: middle;
}
#head_icon{
    grid-column: 1 / 2;
    width: 80px;
    height: 80px;
    background-image: url(./images/hidoran.png);
    background-size: contain;
}
.menu {
    font-size: x-large;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(229, 231, 157);
    padding: 5px;
    box-sizing: border-box;
  }
.menu ul{
    display: flex;
    list-style: none;
}
.menu li{
    font-family: 'Oswald', sans-serif;
    width: 100%;
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
}
a,a:hover,a:visited{
    text-decoration: none;
    color: inherit;
}
#main_contents{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(2em);
    text-align: left;
}
.blocks{
    border-radius: 20px;
    background-color: rgb(253, 172, 114);
}
#intro ul{
    font-size: 170%;
}
.atcoder{
    transition: background-color .5s;
}
.atcoder:hover{
    background-color: rgb(255, 0, 0);
}
.rainbow{
    border: 5px solid;
    border-image: conic-gradient(#f5f551,#5eff5e,#84a1ff,#ff45ff,#ff5a5a,#ffbc41,#f5f551) 1;
    height: auto;
    width: auto;
    background: linear-gradient(to right,#e60000,#f39800,#c4bb0b,#009944,#0068b7,#1d2088,#920783);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 100%;
    font-weight: bold;
    display: inline-block;
}
#haihai{
    background-color: gray;
    width: auto;
}
#twitter_color{
    color: rgb(0, 148, 143);
}
.twitter-timeline{
    border-radius: 20px;
}
.kusodeka{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 2000%;
    text-align: center;
}