@charset "utf-8";
@font-face {
    font-family: 'Round_Black';
    src: url('./fonts/MPLUSRounded1c-Black.ttf') format('ttf');
}
@font-face {
    font-family: 'Round_Bold';
    src: url('./fonts/MPLUSRounded1c-Bold.ttf') format('ttf');
}
@font-face {
    font-family: 'Round_ExtraBold';
    src: url('./fonts/MPLUSRounded1c-ExtraBold.ttf') format('ttf');
}
@font-face {
    font-family: 'Round_Light';
    src: url('./fonts/MPLUSRounded1c-Light.ttf') format('ttf');
}
@font-face {
    font-family: 'Round_Medium';
    src: url('./fonts/MPLUSRounded1c-Medium.ttf') format('ttf');
}
@font-face {
    font-family: 'Round_Regular';
    src: url('./fonts/MPLUSRounded1c-Regular.ttf') format('ttf');
}
@font-face {
    font-family: 'Round_Black';
    src: url('./fonts/MPLUSRounded1c-Thin.ttf') format('ttf');
}
@font-face {
    font-family: 'CorporateB';
      src: url('./fonts/Corporate-Logo-Bold-ver2.otf') format('OpenType');
    }
body {
    font-family:sans-serif;
    line-height:1.5;
    background-color: rgb(255, 228, 192);
}
header{
    background-color: rgb(247, 172, 110);
}
#head_container{
    display: grid;
    grid-template-columns: 80px 200px 1fr;
}
#head_hondana{
    grid-column: 2 / 3;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: xx-large;
    vertical-align: middle;
}
#head_icon{
    grid-column: 1 / 2;
    width: 80px;
    height: 80px;
    background-image: url(./images/hidoran.png);
    background-size: contain;
}
.menu {
    font-size: x-large;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(229, 231, 157);
    padding: 5px;
    box-sizing: border-box;
  }
.menu ul{
    display: flex;
    list-style: none;
}
.menu li{
    font-family: 'CorporateB';
    width: 100%;
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
}
.menu a,a:hover,a:visited{
    color: inherit;
}
#main_contents{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(2em);
    text-align: left;
}
#intro{
    border-radius: 20px;
    background-color: rgb(229, 231, 157);
}